// Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Import other libraries
@import "~react-leaflet-markercluster/dist/styles.min.css";

@import "~leaflet-geonames/L.Control.Geonames.css";
@import "~font-awesome/css/font-awesome.css";
@import "~hint.css/hint.css";

$info: #d9ae5f;
$warning: #5f8ad9;
$primary: #a64005;
$success: #707322;
$danger: #bf0606;
$tooltip-max-width: 200px;
$checkbox-border: 0.1rem solid $primary;
$table-cell-border-width: none;
$table-cell-border: none;
$table-head-cell-border-width: none;

$family-serif: "Acme", sans-serif;
$family-primary: "Lato", sans-serif;

.leaflet-control-container {
  .leaflet-bar {
    border: 1px solid $primary;
  }

  .leaflet-geonames-search {
    height: 2rem;

    &.active {
      height: auto;
    }
    form input {
      border-radius: 4px;
    }
  }
}

@keyframes blink {
  from {
    opacity: 0.2;
    color: $primary;
    fill: $primary;
  }
}

#version {
  position: absolute;
  right: 40px;
}

.icon {
  i.fa-caret-down,
  i.fa-caret-right {
    margin-left: -10px;
  }
  .fa-map-marker {
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white;
  }
}

.title.is-5 {
  font-size: 1rem;
}

table.table.centered {
  margin-bottom: 0.5rem;
  tr td:first-child {
    text-align: right;
  }
  td,
  th {
    border: none !important;
    vertical-align: middle !important;
    padding: 2px 4px;
  }
}

.wrapper {
  .select:not(.is-multiple)::after {
    right: 10px;
  }
  div.select {
    height: auto;
    line-height: 1.5;
    select {
      font-family: "FontAwesome", "sans-serif";
      border-color: $primary;
    }
  }
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 400px;
  background-color: white;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 12px;
}

.panel,
.layercontrol-wrapper {
  .menu {
    margin-bottom: 10px;
    font-size: 12px;

    .menu-header {
      font-size: 14px;
      cursor: pointer;
      display: inline;
      line-height: 1;

      .menu-label {
        font-weight: 800;
        color: black;
        display: inline;
      }

      .menu-hider,
      .menu-icon {
        height: 1rem;
      }
    }

    .suggestion-section {
      margin-bottom: 1rem;
      .field {
        label {
          padding-right: 0;
          margin-right: 0.3rem;
        }
      }
    }

    .field {
      margin-bottom: 0.2rem;
      label::before,
      label::after {
        margin-top: 2px;
      }
    }

    &.open {
      .menu-content {
        width: 100%;
        padding-top: 0.2rem;
        margin-bottom: 1rem;
        padding-left: 0.5rem;

        .list {
          margin-left: 1rem;
          margin-top: 0.5rem;
        }
      }
    }
  }

  table.table tr td:first-child {
    width: 25%;
    font-size: 10px;
    margin-bottom: 0.5rem;
  }
}

.hl-point {
  stroke: $danger;
  fill: $danger;
  animation: blink 0.5s infinite ease-out;
  fill-opacity: 1;
  stroke-width: 0;
}

.layercontrol-wrapper .menu-wrapper:empty(:not) {
  padding: 15px 15px 0px;
}

// Import the rest of Bulma
@import "../node_modules/bulma/bulma";
@import "./bulma/tooltip.sass";
@import "./bulma/slider.sass";
@import "./bulma/checkbox.sass";
@import "./bulma/switch.sass";

html {
  overflow: hidden;
  color: black !important;
}

.is-transition {
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -o-transition: 5s;
  transition: 5s;
}

// Markercluster styling
.marker-cluster.marker-cluster-small,
.marker-cluster.marker-cluster-medium,
.marker-cluster.marker-cluster-large {
  background: rgba(255, 255, 255, 0.5);
  div {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
}

.modal {
  .modal-card {
    background-color: white;
  }
  .modal-card-head,
  .modal-card-foot {
    background-color: white;
    border-width: 0px;
    .modal-card-title {
      text-align: center;
    }
  }
}

.loading-status .message-body {
  border: 0px;
}

.checkboxes-line {
  margin-bottom: 5px;
  div {
    display: inline;
  }
  div:first-child {
    label {
      padding-right: 0px;
      margin-right: 0px;
    }
  }
  div:last-child {
    margin-left: 5px select {
      display: inline;
      font-size: 10px;
      border-width: 2px;
    }
  }
}

.button-row {
  .button {
    margin-right: 3px;
  }
}

.button {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
