// Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// Import other libraries
@import "~react-leaflet-markercluster/dist/styles.min.css";

@import "~leaflet-geonames/L.Control.Geonames.css";
@import "~font-awesome/css/font-awesome.css";
@import "~hint.css/hint.css";

$danger: #c98c69;
$primary: #a64005;
$dimmed: #655d56;
$color-text: black;

$tooltip-max-width: 200px;
$checkbox-border: 0.1rem solid $primary;
$table-cell-border-width: none;
$table-cell-border: none;
$table-head-cell-border-width: none;

$black-halo: 0 0 2px black;
$white-halo: 0 0 2px white;

$family-serif: "Acme", sans-serif;
$family-primary: "Lato", sans-serif;

body {
  .wrapper {
    width: 100%;
    height: 100%;

    .content {
      color: $color-text;
      top: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.is-dimmed {
  color: $dimmed !important;
  border-color: $dimmed !important;
}

.black-halo {
  text-shadow: $black-halo, $black-halo, $black-halo, $black-halo, $black-halo,
    $black-halo, $black-halo;
}

.leaflet-container {
  .suggestion-point {
    fill-opacity: 0.7;
    stroke: $color-text;
    stroke-width: 2px;
  }
  .fa-map-marker {
    text-shadow: $white-halo, $white-halo, $white-halo, $white-halo, $white-halo;
  }

  .leaflet-control-container {
    .leaflet-bar {
      border: 0px;
      border-radius: 0px !important;

      a {
        color: $primary;
        border-radius: 0px !important;
      }
    }
    .leaflet-left .leaflet-control-scale {
      margin-left: 10px;
    }

    .leaflet-control-zoom-in {
      border-bottom: 1px solid #a64005;
    }

    .leaflet-geonames-icon {
      background-image: none;

      &:before {
        content: "🔍";
        font-size: 20px;
        font-weight: bold;
      }
    }

    #polyline-measure-control {
      background-image: none;

      &:before {
        content: "↦";
        font-size: 20px;
        font-weight: bold;
      }
    }
    #polyline-measure-control[title="Stop measuring"],
    .leaflet-geonames-search.active .leaflet-geonames-icon,
    .leaflet-control-zoom-in:hover,
    .leaflet-control-zoom-out:hover {
      color: white;
      background-color: $primary !important;
    }

    .leaflet-geonames-search {
      height: 30px;

      &:not(.active) {
        width: 30px;
      }

      &.active {
        height: auto;
      }
      form {
        height: 30px;
        margin: 0;
        input {
          border-radius: 4px;
          padding-left: 35px;
        }
      }
    }
    .leaflet-control-scale {
      .leaflet-control-scale-line {
        border-color: $primary;
        color: $primary;
        background: white;
        border-width: 2px;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }

  .polyline-measure-tooltip {
    text-shadow: $white-halo, $white-halo, $white-halo, $white-halo, $white-halo,
      $white-halo, $white-halo;
    font-weight: bold;
    color: $color-text;
  }
}

@keyframes blink {
  from {
    opacity: 0.2;
    color: $primary;
    fill: $primary;
  }
}

#version {
  position: absolute;
  font-style: italic;
  right: 40px;
}

.icon {
  i.fa-caret-down,
  i.fa-caret-right {
    margin-left: -10px;
  }
}

.title.is-5 {
  font-size: 1rem;
}

table.table.centered {
  color: $color-text;
  margin-bottom: 0.5rem;
  tr td:first-child {
    text-align: right;
  }
  td,
  th {
    border: none !important;
    vertical-align: middle !important;
    padding: 2px 4px;
  }
}

.wrapper {
  .select:not(.is-multiple)::after {
    right: 10px;
  }
  div.select {
    height: auto;
    line-height: 1.5;
    select {
      font-family: "FontAwesome", "sans-serif";
      border-color: $primary;
    }
  }
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 400px;
  background-color: white;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 12px;
}

.panel,
.layercontrol-wrapper {
  .menu:last-of-type {
    margin-bottom: 0px;
  }
  .menu {
    margin-bottom: 10px;
    font-size: 12px;

    .menu-header {
      font-size: 14px;
      cursor: pointer;
      display: inline;
      line-height: 1;

      .menu-label {
        font-weight: 800;
        display: inline;
      }

      .menu-hider,
      .menu-icon {
        margin-right: 3px;
        height: 1rem;
      }
    }

    .notification {
      padding: 1em;
    }

    .suggestion-section {
      margin-bottom: 1rem;

      .suggestion-name-line {
        display: table;
        margin-left: 0.5rem;
        div {
          display: table-cell;
        }
      }

      .field {
        label {
          padding-right: 0;
          margin-right: 0.3rem;
        }
      }
    }

    .field {
      margin-bottom: 0.2rem;
      label::before,
      label::after {
        margin-top: 2px;
      }
    }

    &.open {
      .menu-content {
        width: 100%;
        padding-top: 0.2rem;
        margin-bottom: 1rem;
        padding-left: 0.5rem;

        .list {
          margin-left: 1rem;
          margin-top: 0.5rem;
          .suggestion {
            .post-icon {
              margin: -3px 0px 0px 0px;
              vertical-align: top;
              padding: 4px;
              cursor: default;
            }
          }
        }
      }
    }
  }

  table.table tr td:first-child {
    width: 25%;
    font-size: 10px;
    margin-bottom: 0.5rem;
  }
}

.hl-point {
  stroke: $danger;
  fill: $danger;
  animation: blink 0.5s infinite ease-out;
  fill-opacity: 1;
  stroke-width: 0;
}

.hint {
  overflow: normal;
}

.layercontrol-wrapper .menu-wrapper:empty(:not) {
  padding: 15px 15px 0px;
}

// Import the rest of Bulma
@import "../node_modules/bulma/bulma";
@import "./bulma/slider.sass";
@import "./bulma/checkbox.sass";
@import "./bulma/switch.sass";

html {
  overflow: hidden;
  color: $color-text !important;
}

.is-transition {
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -o-transition: 5s;
  transition: 5s;
}

// Markercluster styling
.marker-cluster.marker-cluster-small,
.marker-cluster.marker-cluster-medium,
.marker-cluster.marker-cluster-large {
  background: rgba(255, 255, 255, 0.5);
  div {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
}

.modal {
  .modal-card {
    background-color: white;
  }
  .modal-card-head,
  .modal-card-foot {
    background-color: white;
    border-width: 0px;
    .modal-card-title {
      text-align: center;
    }
  }
}

.loading-status .message-body {
  border: 0px;
}

.checkboxes-line {
  margin-bottom: 5px;
  div {
    display: inline;
  }
  div:first-child {
    label {
      padding-right: 0px;
      margin-right: 0px;
    }
  }
  div:last-child {
    margin-left: 5px select {
      display: inline;
      font-size: 10px;
      border-width: 2px;
    }
  }
}

.button-row {
  .button {
    margin-right: 3px;
  }
}

.button {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
