// Import the initial variables
@import '../node_modules/bulma/sass/utilities/initial-variables';

$info: #d9ae5f;
$warning: #5f8ad9;
$primary: #a64005;
$success: #707322;
$danger: #bf0606;
$tooltip-max-width: 200px;
$checkbox-border: 0.1rem solid $primary;
$table-cell-border-width: none;
$table-cell-border: none;
$table-head-cell-border-width: none;

$family-serif: 'Acme', sans-serif;
$family-primary: 'Lato', sans-serif;

@keyframes blink {
  from {
    opacity: 0.2;
    color: $primary;
    fill: $primary;
  }
}

table.table td,
table.table th {
  border: none !important;
  vertical-align: middle !important;
  padding: 5px;
}

table.table.centered {
  tr td:first-child {
    text-align: right;
  }
}

.hl-point {
  stroke: $danger;
  fill: $danger;
  animation: blink 0.5s infinite ease-out;
  fill-opacity: 1;
  stroke-width: 0;
}

// Import the rest of Bulma
@import '../node_modules/bulma/bulma';
@import './bulma/tooltip.sass';
@import './bulma/slider.sass';
@import './bulma/checkbox.sass';
@import './bulma/switch.sass';

// Import other libraries
@import '~react-leaflet-markercluster/dist/styles.min.css';

.select select {
  font-family: 'FontAwesome', 'sans-serif';
  border-color: $primary;
}

html {
  overflow: hidden;
  color: black !important;
}

.is-transition {
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -o-transition: 5s;
  transition: 5s;
}

// Markercluster styling
.marker-cluster.marker-cluster-small,
.marker-cluster.marker-cluster-medium,
.marker-cluster.marker-cluster-large {
  background: rgba(255, 255, 255, 0.5);
  div {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
}

.modal {
  .modal-card {
    background-color: white;
  }
  .modal-card-head,
  .modal-card-foot {
    background-color: white;
    border-width: 0px;
    .modal-card-title {
      text-align: center;
    }
  }
}

.loading-status .message-body {
  border: 0px;
}
